<div class="p-6">
  <div class="flex items-center justify-between space-x-4">
    <div class="flex items-center">
      <%= profile_image(@profile) %>
    </div>
    <div class="flex-1">
      <div>
        <h1 class="font-bold text-3xl"><%= @profile.first_name %></h1>
        <%= @profile.email %>
      </div>
    </div>
    <% if @profile == current_user %>
      <div>
        <%= link_to "Edit profile", edit_user_registration_path, class: "inline-flex justify-center items-center px-5 py-2 rounded-full border ring-4 focus:ring-sky-50 ring-transparent hover:ring-sky-50 hover:border-gray-300" %>
      </div>
    <% elsif current_user %>
      <div>
        <% if following?(@profile) %>
          <%= button_to "Unfollow", profiles_path(id: @profile.id), method: :delete, class: "inline-flex justify-center items-center px-5 py-2 rounded-full border ring-4 focus:ring-sky-50 ring-transparent hover:ring-sky-50 hover:border-gray-300" %>
        <% else %>
          <%= button_to "Follow", profiles_follow_path(id: @profile.id), method: :post, class: "inline-flex justify-center items-center px-5 py-2 rounded-full border ring-4 focus:ring-sky-50 ring-transparent hover:ring-sky-50 hover:border-gray-300" %>
        <% end %>
      </div>
    <% end %>
  </div>
  <div class="p-6">
    <div class="flex items-center  space-x-8">
      <span>
        <%= @profile.followers.count %>
        <%= link_to "Follower", follower_url %>
      </span>
      <span>
        <%= @profile.followees.count %>
        <%= link_to "Following", follower_url %>
      </span>
    </div>
  </div>
  <ul class="list-none divide-y -mx-6 mt-10">
    <p class="px-6 py-3 border-b">Tweets</p>
    <%= render collection: @profile.tweets, partial: "tweets/tweet" %>
  </ul>
</div>
