<div class="items-start justify-center block h-full grid-cols-1 gap-4 lg:grid lg:items-center lg:grid-cols-2  ">
  <img src="https://abs.twimg.com/sticky/illustrations/lohp_en_1302x955.png">
  <div class="relative z-20 px-6 mx-auto lg:px-12 max-w-lg">
    <div class="mb-4 xl:mt-8">
      <div class="mt-6 mb-4 lg:mt-0">
        <%= link_to "Back", root_path, class: "text-gray-600 underline flex items-center hover:text-gray-700 hover:no-underline" %>
      </div>
      <h2 class="pt-6 font-sans text-3xl font-black leading-tight mb-3"> Sign In </h2>
      <%= form_with url: sign_in_path do |form| %>
        <div class="mb-3">
          <%= form.label :email, 'Email' %>
          <%= form.text_field :email ,placeholder: "hello@kiprosh.com", class: "form-control"  %>
        </div>
        <div class="mb-3">
          <%= form.label :password, 'Password' %>
          <%= form.password_field :password,placeholder: "password", class: "form-control" %>
        </div>
        <div class="mb-6">
          <%= link_to  "Forgot Password", password_reset_path %>
          <div class="mb-">
            <%= link_to "Sign Up", sign_up_path%>
          </div>
        </div>
        <div class="mb-3">
          <%= form.submit 'Sign In',class: "px-6 py-2 bg-sky-400 text-white font-semibold rounded-full text-center cursor-pointer inline-block hover:bg-sky-500 transition ease-in-out duration-300" %>
        </div>
      <%end%>
    </div>
  </div>
</div>
