<h1>Sign In</h1>
<%# Sign in form %>
<%= form_with url: sign_in_path do |form| %>
  <div class="mb-3">
    <%= form.label :email, 'Email' %>
    <%= form.text_field :email ,placeholder: "hello@kiprosh.com"  %>
  </div>
  <div class="mb-3">
    <%= form.label :password, 'Password' %>
    <%= form.password_field :password,placeholder: "Password" %>
  </div>
  <div class="mb-3">
    <%= form.submit 'Sign In',class: "btn btn-primary" %>
  </div>
<%end%>
