<h2>Sign uP</h2>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
  <% if resource.errors.any? %>
    <div class="alert alert-danger">
      <% resource.errors.full_messages.each do |error| %>
        <%= error %><br>
      <% end %>    
  <%# debugger %>
  <% end %>
  <div class="mb-6">
    <%= form.label :firstName %>
    <%= form.text_field :firstName,placeholder: "hello kiprosh",  class: "form-control" %>
  </div>
  <div class="mb-6">
    <%= form.label :username %>
    <%= form.text_field :username, placeholder: "hellokiprosh", class: "form-control" %>
  </div>
  <div class="mb-6">
    <%= form.label :email%>
    <%= form.email_field :email, autocomplete: "email", placeholder: "hello@kiprosh.com", class: "form-control" %>
  </div>
  <div class="mb-6">
    <%=form.label :password %>
    <%= form.password_field :password, placeholder: "password", class: "form-control" %>
  </div>
  <div class="mb-6">
    <%=form.label :password_confirmation %>
    <%= form.password_field :password_confirmation,placeholder: "password" , class: "form-control"%>
  </div>
  <div class="actions">
    <%= form.submit "Sign up" %>
  </div>
<% end %>
<%# render "users/shared/links" %>
