<div class="px-6 py-3 border-b" id="my_tweet_<%= tweet.id %>">
  <div class="flex space-x-3 items-start">
    <div class="flex-shrink-0">
      <%= profile_image(tweet.user) %>
    </div>
    <div class="flex-1">
      <p class="font-bold">
        <%= tweet.user.first_name %>
        @<%= link_to tweet.user.username, profile_path(tweet.user), class: "hover:underline" %>.
        <%= tweet.created_at.strftime("%b %d") %>
      </p>
      <%= link_to tweet do %>
        <%= tweet.body %>
        <%= image_tag tweet.image unless tweet.image.blank? %>
      <% end %>
      <%= render "tweets/controls", tweet: tweet %>
    </div>
  </div>
</div>
