<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
  <div class="container-fluid">
    <%= link_to 'Navbar', root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home', root_path, class: "nav-link active" %>
        </li>
        <li class="nav-item">
          <%= link_to 'About', about_path, class: "nav-link active" %>
        </li>
      </ul>
    </div>
    <%#  Adding the login and signup into the navbar %>
    <div class="collapse navbar-collapse justify-content-end justify-content: space-between " id="navbarNav ">
      <ul class="navbar-nav navbar-dark  ">
        <% if Current.user %>
          <li class="nav-item px-3 mt-2">
            <%= link_to Current.user.email,root_path  %>
          </li>
          <li class="nav-item">
            <%= link_to "Edit Password", password_path, class: "btn btn-outline-primary"%>
          </li>
          <li class="nav-item">
            <%= button_to "Logout", logout_path, method: :delete, class: "btn btn-outline-primary"%>
          </li>
        <% else %>
          <%# button to login %>
          <li class="nav-item px-2">
            <%= link_to "Sign In",sign_in_path, class: "btn btn-outline-primary" %>
          </li>
          <li class="nav-item px-2">
            <%= link_to "Sign UP", sign_up_path, class: "btn btn-outline-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
</nav>
