<%= render layout: "auth_layout", locals: { title: "Sign in" } do %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |form| %>
    <div class="mb-3">
      <%= form.label :email, "Email" %>
      <%= form.text_field :email, placeholder: "hello@kiprosh.com", class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :password, "Password" %>
      <%= form.password_field :password, placeholder: "password", class: "form-control" %>
    </div>
    <div class="mb-6">
      <%= link_to "Forgot Password", new_user_password_path %>
      <div class="mb-">
        <%= link_to "Sign Up", new_user_registration_path %>
      </div>
    </div>
    <div class="mb-3">
      <%= form.submit "Log In", class: "px-6 py-2 bg-sky-400 text-white font-semibold rounded-full text-center cursor-pointer inline-block hover:bg-sky-500 transition ease-in-out duration-300" %>
    </div>
  <% end %>
<% end %>
